/* OVERALL------------------------------------------------------------------------------- */
main{
    /* background-color: #0e0e7b; */
    color:white;
    /* text-shadow: 5px 5px black; */
    padding-top: 50px;

}
main > section:nth-of-type(2n+1){
  background-color: #0e0e7b; 
}

h2{
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
p{
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
h2 span{
    color:#f973b8;
}
main section:nth-of-type(2n){
  color: #0e0e7b; 
}
section{
  padding-top: 20px;
  padding-bottom: 20px;
}
/* LOADER */
#splash {
  background: #ffb5db;;
  background-repeat: repeat-y;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: splash 3s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  z-index: 1000;
}

#loader {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
}

#loader:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -170px;
  width: 3px;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  height: 200px;
}

#loader:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: 8px;
  bottom: -190px;
  width: 3px;
  background: #000;
  background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0) 100%);
  height: 200px;
}

#splash .anim {
  height: 100%;
  position: absolute;
  left: 50%;
  width: 100px;
  transform: translate(-50%,100%);
  animation: loader 4s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    transform: translate(-50%,110%);
  }
  30% {
    transform: translate(-50%,50%);
  }
  100% {
    transform: translate(-50%,0%);
  }
}

@keyframes splash {
  0% {
    transform: translate(0%,0%);
  }
  50% {
    transform: translate(0%,0%);
  }
  100% {
    transform: translate(0%,-100%);
  }
}

/* NAVBAR---------------------------------------------------------------- */
#logo-name{
    font-weight: bold;
    line-height: normal;
    padding-top: 5px;
}
nav{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px;
}

/* fixed navbar */
.navbar{ 
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 999;
}

/* HOME-------------------------------------------------------------------- */
#webdev-home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   padding-top: 80px;
   padding-bottom: 40px;
   padding-left: 10px;
}
#webdev-home-section {
    background-color:  #151719;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }